/* Landing top section css */

.home-main-section {
  height: 90%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../../assets/landing-backgroud.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .image-wrap {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.home-main-section .leagueLogo {
  background-image: url("../../assets/landing-page-logo-big.png");
  flex-grow: 1;
  max-height: 45vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home-main-section .text-wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

.home-main-section h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
}

.home-main-section .main-section-subtitle {
  padding-bottom: 3vh;
}

.home-main-section .start-button {
  font-family: 'Poppins', sans-serif;
}

/* Landing cards section css */

mat-card-title {
  color:#69F0AE;
}

mat-card-subtitle {
  color: #300537;
}

.home-card-section {
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  background: rgba(0, 0, 0, 0.85);
}

.home-card-section .card-section-header {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.card-section-header .card-section-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  align-items: center;
  padding-top: 10vh;
}

.home-card-section .cards-set{
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-set .card {
  padding: .75vw;
}

.cards-set .nav-card {
  background-color: #9C27B0;
  min-width: 25vw;
  max-width: 25vw;
  min-height: 35vh;
  padding: 5vw;
  font-family: 'Poppins', sans-serif;
}
