
<!-- Landing top-over section -->
<section class="home-main-section">

  <!-- THIS CODE USES ANGULAR MATERIAL
 Therefore, references has been made to the angular material documentation -->

  <!-- Premier League Logo- Big -->
  <div class="image-wrap">
    <div class="leagueLogo"></div>
  </div>

  <!-- Web-page title and sub title -->
  <div class="text-wrap">
    <h1 class="main-section-title">The English Premier League 2020-21</h1>
    <span class="main-section-subtitle">The tide is very much in the court now</span>
    <a mat-raised-button class="start-button" color="accent" onclick="location.href='#card-section'">Kick a Goal</a>
  </div>

</section>

<!-- Landing cards section -->
<div class="home-card-section" id="card-section">

  <!-- Cards section title -->
  <div class="card-section-header">
    <h1 class="card-section-title">Statistics of the English Premier League of 2020</h1>
  </div>

  <!-- Cards -->
  <div class="cards-set">
    <!-- Card One -->
    <div class="card">
      <mat-card class="nav-card">
        <mat-card-header>
          <mat-card-title>Clubs</mat-card-title>
          <mat-card-subtitle>View clubs leaderboard</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>The clubs of the premier league are the teams which represent each state. Twenty clubs participate in the
            original premier league. You can view the clubs leaderboard here.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button *ngFor="let link of clubsCardLinks" [routerLink]="link.path" routerLinkActive> {{link.label}} </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- Card Two -->
    <div class="card">
      <mat-card class="nav-card">
        <mat-card-header>
          <mat-card-title>Matches</mat-card-title>
          <mat-card-subtitle>View matches played</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Each club in the premier league should play every-other team twice, according to a double round-robin system.
            Once at their home stadium and another at the away. You can view, generate and search for matches here.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button *ngFor="let link of matchesCardLinks" [routerLink]="link.path" routerLinkActive> {{link.label}} </a>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

</div>
