<mat-dialog-content class="mat-typography" style="align-items: center;">

  <!-- THIS CODE USES ANGULAR MATERIAL
 Therefore, references has been made to the angular material documentation -->

  <!-- Title for the match-result pop-up -->
  <h1 class="matches-section-title" style="font-family: 'Poppins', sans-serif;font-weight: 600;font-size: 1.5rem;
    text-align:center; color: #69F0AE;">Matches Played on {{date}}</h1>

  <!-- To run if data loading is not complete, therefore, dataLoaded is false -->
  <div *ngIf="dataLoaded==false && status==false" style="padding-top: 5vh">
    <p style="color: #FFFFFF; text-align: center; font-family: 'Poppins', sans-serif; font-weight: 500;">The matches are is still loading. Please wait</p>
  </div>

  <!-- To run if dataLoaded is true, however, the response status is false -->
  <div *ngIf="dataLoaded==true && status==false" style="padding-top: 5vh">
    <p style="color: #FFFFFF; text-align: center; font-family: 'Poppins', sans-serif; font-weight: 500;">
      The matches cannot be loaded at the moment.<br>Please check if any matches have been registered using the
      Premier League Console</p>
  </div>

  <!-- To run if dataLoaded is true and the response status is true. However, no matches found -->
  <div *ngIf="dataAvailable==false && dataLoaded==true && status==true" style="padding-top: 5vh">
    <p style="color: #FFFFFF; text-align: center; font-family: 'Poppins', sans-serif; font-weight: 500;">
      No matches have been played on {{date}}</p>
  </div>

  <!-- To run if dataLoaded is true and the response status is true. Therefore the table can be shown -->
  <div *ngIf="dataAvailable==true && dataLoaded==true && status==true" style="min-width: 70vw;">

    <!-- Table for the match-result pop-up -->
    <table mat-table [dataSource]="dataSource" style="width: 100%;" >

      <!-- Date Played Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef style="width: 10vw;"> Date Played </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- Home Club Column -->
      <ng-container matColumnDef="teamOne">
        <th mat-header-cell *matHeaderCellDef> Home Club </th>
        <td mat-cell *matCellDef="let element"> {{element.teamOne}} </td>
      </ng-container>

      <!-- Goals Scored Home Club Column -->
      <ng-container matColumnDef="scoreTeamOne">
        <th mat-header-cell *matHeaderCellDef style="width: 6vw;"> GS- Home </th>
        <td mat-cell *matCellDef="let element"> {{element.scoreTeamOne}} </td>
      </ng-container>

      <!-- Away Club Column -->
      <ng-container matColumnDef="teamTwo">
        <th mat-header-cell *matHeaderCellDef> Away Club </th>
        <td mat-cell *matCellDef="let element"> {{element.teamTwo}} </td>
      </ng-container>

      <!-- Goals Scored Away Club Column -->
      <ng-container matColumnDef="scoreTeamTwo">
        <th mat-header-cell *matHeaderCellDef style="width: 6vw;"> GS- Away </th>
        <td mat-cell *matCellDef="let element"> {{element.scoreTeamTwo}} </td>
      </ng-container>

      <!-- Result Column -->
      <ng-container matColumnDef="winTeam">
        <th mat-header-cell *matHeaderCellDef style="width: 12vw;"> Result </th>
        <td mat-cell *matCellDef="let element"> {{element.winTeam}} </td>
      </ng-container>

      <!-- Inserting data -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

</mat-dialog-content>
