
<div class="clubs-section">

<!-- THIS CODE USES ANGULAR MATERIAL
 Therefore, references has been made to the angular material documentation -->

  <!--Club leaderboard title-->
  <h1 class="clubs-section-title"> Clubs Leaderboard</h1>

  <!-- To run if data loading is not complete, therefore, dataLoaded is false -->
  <div *ngIf="dataLoaded==false && status==false" style="padding-top: 5vh">
    <p style="color: #FFFFFF; text-align: center; font-family: 'Poppins', sans-serif; font-weight: 500;">The clubs are is still loading. Please wait</p>
  </div>

  <!-- To run if dataLoaded is true, however, the response status is false -->
  <div *ngIf="dataLoaded==true && status==false" style="padding-top: 5vh">
    <p style="color: #FFFFFF; text-align: center; font-family: 'Poppins', sans-serif; font-weight: 500;">The clubs cannot be loaded at the moment.
      <br>Please check if any clubs have been registered using the Premier League Console</p>
  </div>

  <!-- To run if dataLoaded is true and the response status is true. However, no registered clubs -->
  <div *ngIf="clubData.length==0 && dataLoaded==true && status==true" style="padding-top: 5vh">
    <p style="color: #FFFFFF; text-align: center; font-family: 'Poppins', sans-serif; font-weight: 500;">
      No clubs registered to show.<br>You can use the Premier League Console to generate new clubs</p>
  </div>

  <!-- To run if dataLoaded is true and the response status is true. Therefore the tables can be shown -->
  <div *ngIf="clubData.length>0 &&dataLoaded==true && status==true">

    <!-- Sorting Buttons -->
    <div class="sort-buttons">
      <mat-button-toggle-group appearance="legacy" class="sorting-buttons">
        <mat-button-toggle (click)="sortToGoals()">Sort to goals scored</mat-button-toggle>
        <mat-button-toggle (click)="sortToPoints()" checked>Sort to points</mat-button-toggle>
        <mat-button-toggle (click)="sortToWins()">Sort to number of wins</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!--Table which shows the club data-->
    <table mat-table [dataSource]="clubData" class="club-data-table">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Club Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>

      <!-- Date of Formation Column -->
      <ng-container matColumnDef="dateOfFormation">
        <th mat-header-cell *matHeaderCellDef> Date Formed </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfFormation}} </td>
      </ng-container>

      <!-- Coach Column -->
      <ng-container matColumnDef="coach">
        <th mat-header-cell *matHeaderCellDef> Coach for Season </th>
        <td mat-cell *matCellDef="let element"> {{element.coach}} </td>
      </ng-container>

      <!-- Matches Played Column -->
      <ng-container matColumnDef="matchesPlayed">
        <th class="scores" mat-header-cell *matHeaderCellDef> MP </th>
        <td mat-cell *matCellDef="let element"> {{element.matchesPlayed}} </td>
      </ng-container>

      <!-- Wins Column -->
      <ng-container matColumnDef="numWins">
        <th class="scores" mat-header-cell *matHeaderCellDef> W </th>
        <td mat-cell *matCellDef="let element"> {{element.numWins}} </td>
      </ng-container>

      <!-- Draws Column -->
      <ng-container matColumnDef="numDraws">
        <th class="scores" mat-header-cell *matHeaderCellDef> D </th>
        <td mat-cell *matCellDef="let element"> {{element.numDraws}} </td>
      </ng-container>

      <!-- Loses Column -->
      <ng-container matColumnDef="numDefeats">
        <th class="scores" mat-header-cell *matHeaderCellDef> L </th>
        <td mat-cell *matCellDef="let element"> {{element.numDefeats}} </td>
      </ng-container>

      <!-- Goals Scored Column -->
      <ng-container matColumnDef="goalsScored">
        <th class="scores" mat-header-cell *matHeaderCellDef> GS </th>
        <td mat-cell *matCellDef="let element"> {{element.goalsScored}} </td>
      </ng-container>

      <!-- Goals Conceded Column -->
      <ng-container matColumnDef="goalsConceded">
        <th class="scores" mat-header-cell *matHeaderCellDef> GC </th>
        <td mat-cell *matCellDef="let element"> {{element.goalsConceded}} </td>
      </ng-container>

      <!-- Goads Difference Column -->
      <ng-container matColumnDef="goalDifference">
        <th class="scores" mat-header-cell *matHeaderCellDef> GD </th>
        <td mat-cell *matCellDef="let element"> {{element.goalDifference}} </td>
      </ng-container>

      <!-- Points Column -->
      <ng-container matColumnDef="points">
        <th class="scores" mat-header-cell *matHeaderCellDef> Pts </th>
        <td mat-cell *matCellDef="let element"> {{element.points}} </td>
      </ng-container>

      <!-- Points Column -->
      <ng-container matColumnDef="comparableDate">
        <th class="scores" mat-header-cell *matHeaderCellDef> CD </th>
        <td mat-cell *matCellDef="let element"> {{element.comparableDate}} </td>
      </ng-container>

      <!-- Inserting data -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

</div>
