.footer {
  height: 50%;
  background-color: rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.footer .image-wrap {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
}

.footer .leagueLogo {
  background-image: url("../../assets/footer-logo-premier-league.png");
  flex-grow: 1;
  max-height: 15vh;
  min-width: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer .text-wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
  padding-right: 10vw;
  padding-left: 10vw;
}

.footer h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.footer .footer-subtitle {
  padding-bottom: 3vh;
  font-size: .75rem;
}

.footer .top-nav {
  font-family: 'Poppins', sans-serif;
  font-size: .75rem;
}

.footer .footer-foot {
  font-family: 'Poppins', sans-serif;
  font-size: .5rem;
}
