
<div class="footer">

  <!-- THIS CODE USES ANGULAR MATERIAL
 Therefore, references has been made to the angular material documentation -->

  <!-- Footer image -->
  <div class="image-wrap">
    <div class="leagueLogo"></div>
  </div>

  <!-- Footer title and detail -->
  <div class="text-wrap">

    <h1 class="footer-title">The English Premier League 2020-21</h1>
    <span class="footer-subtitle">This application was built by Nuvin Godakanda Arachchi. Student Id: 2019443;
     UOW ID: W1761350, as completion for the coursework for Object Oriented Programming.</span>
    <span class="footer-foot">All rights reserved- 2020 | Unofficial Premier League </span>

  </div>

</div>
