@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.spacer {
  flex: 1 1 auto;
}

.logo-image{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
}

.logo-nav {
  /*TODO: Resize image and remove width contraints*/
  max-width: 1.5vw;
  /*max-height: 1.5vh;*/
  padding-left: 1.5vw;
}

.logo-title {
  font-family: 'Poppins', sans-serif;
  padding-left: 1rem;
  text-decoration: none;
}

.nav-button {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}
