
<mat-toolbar>

  <!-- THIS CODE USES ANGULAR MATERIAL
 Therefore, references has been made to the angular material documentation -->

  <!-- Nav-bar Brand section with navigation to the main-page on click-->
  <a class="navbar-brand" href="/">
    <div class="logo-image">
      <img src="../../assets/premier-league-logo.png" alt="Logo" class="logo-nav">
      <span class="logo-title">Premier League</span>
    </div>
  </a>

  <div class="spacer"></div><!--Spacer used to keep the two sections far-apart-->

  <!-- Navigation Buttons with router links -->
  <a mat-button *ngFor="let link of homeNavLinks"
     [routerLink]="link.path" routerLinkActive> {{link.label}} </a> <!--Populates the buttons using the router
     links initialized in the ts-->

</mat-toolbar>
